@model CarShow.Models.WinnerModel

@{
    ViewBag.Title = "ShowWinners";
}

<h1>Show Winners !</h1>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Car Show</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<div >
   
    <hr />
    <dl class="dl-horizontal" id="winners">
        <dt>
            Best of Paint
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestpaint)
        </dd>

        <dt>
            Best of Engine
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestengine)
        </dd>

        <dt>
           Best of Interior
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestinterior)
        </dd>

        <dt>
            Best Of Show
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestofshow)
        </dd>

    </dl>
</div>

<div class="col-sm-4">
    <img src="~/Content/Assets/Trophy.jpg" width="500" height="300" />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
